<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EBook"
        tools:targetApi="31">

        <activity
            android:name=".DummyPDFViewActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".reviewerscrees.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".reviewerscrees.ViewCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".userscreens.ReadBookActivity"
            android:exported="false" />
        <activity
            android:name=".userscreens.SavedAndFinishedActivity"
            android:exported="false" />
        <activity
            android:name=".userscreens.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".AddReviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".userscreens.BookDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".adminscreens.AdminPublisherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".reviewerscrees.ReviewerAddBookActivity"
            android:exported="false" />
        <activity
            android:name=".reviewerscrees.ReviewerAddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".adminscreens.AdminPurchasedActivity"
            android:exported="false" />
        <activity
            android:name=".adminscreens.AdminReviewedActivity"
            android:exported="false" />
        <activity
            android:name=".adminscreens.AdminAuthorsActivity"
            android:exported="false" />
        <activity
            android:name=".adminscreens.AdminBookDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".userscreens.BooksListActivity"
            android:exported="false" />
        <activity
            android:name=".adminscreens.AdminDashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".openingscreens.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".openingscreens.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".openingscreens.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".userscreens.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".reviewerscrees.ReviewerDashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".userscreens.UserDashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>